<div class="container">
  <div class="div">
    <p id="Isotipo">Petalos Chile.cl</p>
    <h2>1. Añadir al Carro</h2>
    <h2>2. Pago</h2>
    <h2>3. Confirmacion</h2>
  </div>

  <div class="d-flex">
    <div class="row"></div>
      <div class="detalle_orden col-6">
      <p>Subtotal <%=@product.price_cents%></p>
      <p>Costo de Envìo</p>
      <p>Total Compra <%=@product.price_cents+@product.price_cents%></p>
      </div>
    </div>
    <div class="row">
      <div class="direccion_envio col-6">
      <%= simple_form_for variable do |f| %>
      <% end %>
      </div>
    </div>
  </div>
</div>

