<div class="container">
 <div class="d-flex justify-content-center">
    <h1>Resumen de Compra</h1>
 </div>
    <div class="row aling-items-center">
        <div class="col-sm-6 text-center">
          <div class="card">
            <div class="card-body">
            <%= image_tag("orden_confirmada.jpg", width: 300, crop: :fill) %>
            <h3>Orden confirmada</h3>
              <p class="card-text">Por favor espere y siga su orden.</p>
              <a href="#" class="btn btn-primary">Estado del pedido</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <p class="card-text">Sub Total.</p>
              <h5>TOTAL</h5>
              <h5 class="card-title">Direccion de Envìo</h5>
              
              <a href="#" class="btn btn-primary">Pagar</a>
            </div>
          </div>
        </div>
    </div>
</div>
