   

    <!-- end header -->
    <section class="header imagen-header ">
        <div class="row ">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                <div class="title">
                    <h1>Petalos Chile</h1>
                    <h3>Los mejores arreglos de flores con despacho a todo chile<h3>
                 </div>   
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                
            </div>
        </div>
    </section>
