.card-product-detalle {
  display: flex;
  align-items: center;
  height: 600px;
  width: 100%;
  background: white;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.1)
}

.card-product-detalle img {
  height: 100%;
  width: 50%;
}

.card-product-detalle h2 {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}

.card-product-detalle p {
  font-size: 20px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-detalle .card-product-detalle-infos {
  padding: 25px;
}