<p>Hola <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nos ponemos en contacto para notificar que el correo electrónico va a ser cambiado por <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nos ponemos en contacto para notificarle que el correo electrónico va a ser cambiado por <%= @resource.email %>.</p>
<% end %>
