<p>Hola <%= @resource.email %>!</p>

<p>La cuenta ha sido bloqueada debido a un sin número de intentos fallidos de inicio de sesión.</p>

<p>Hace clic en el siguiente enlace para desbloquear la cuenta:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, unlock_token: @token) %></p>
